.container {
  width:1170px;
  margin:0 auto;
  border:1px solid;
}
.flex {
  display:flex;
}
.logo{
  width:15%;
  padding:10px 30px;
}
ul{
  list-style-type:none;
}
.nav-links li{
  padding : 10px;
  margin-right:5px;
}
.nav{
  width:70%;
}
/*sign in button*/
.btnSignIn{

  margin:15px;
  padding:5px 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
